body{
    background-color: lightgray;
}

.center {
    margin: auto;
    margin-top: 200px;
    width: 50%;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 5px 5px gray;
    text-align: center;
}

#profile-img{
    border-radius: 50%;
    width: 15%
}

h1{
    text-transform: uppercase;
}

#media-img{
    width: 4%;
}

#link:hover{
    background: rgb(34, 158, 230);
}